@import '@/features/BoxApplication/styles/variables';

.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  pointer-events: none;
}

.headerInner {
  position: sticky;
  padding-top: $colRowHeaderHeight;
  left: $colRowHeaderWidth * -1;
  width: $colRowHeaderWidth;
  background-color: #fff;

  &::after {
    content: '';
    position: absolute;
    left: $colRowHeaderWidth;
    top: 0;
    height: 100%;
    border-right: 2px solid $borderColor;
  }
}

.headerRow {
  position: relative;
  top: -2px;
  width: 100%;

  &:not(:first-child) {
    border-top: 1px dashed $borderColor;
  }

  &:nth-child(6n + 1) {
    border-top: 2px solid $borderColor;
  }
}
