@import '../..//styles/variables';

.header {
  position: sticky;
  top: 0;
  height: $colRowHeaderHeight;
  z-index: 1;
}

.cols {
  display: flex;
  height: 100%;
}

.headerNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $colRowHeaderHeight;
  z-index: 1;
}

.headerNavInner {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  width: calc(100vw - 40px - $colRowHeaderWidth);
  height: 100%;
}

.navButton {
  width: 20px;
  height: 100%;

  &.prev {
    background: linear-gradient(270deg, rgba(250, 175, 187, 0) 0%, #faafbb 100%);

    :global(svg) {
      transform: scaleX(-1);
    }
  }

  &.next {
    background: linear-gradient(270deg, #faafbb 0%, rgba(250, 175, 187, 0) 100%);
  }
}

.headerCell {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  position: relative;
  background-color: #f7edef;
  border-bottom: 2px solid $borderColor;
  // border-left: 1px solid $borderColor;

  &:not(:first-child) {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      height: 20px;
      margin: auto;
      background-color: $borderColor;
    }
  }
}
