@import '../..//styles/variables';

.header {
  display: flex;
  position: sticky;
  top: 0;
  height: $colRowHeaderHeight;
  z-index: 1;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $colRowHeaderHeight;
  z-index: 2;
}

.headerCell {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  position: relative;
  background-color: #f7edef;
  border-bottom: 2px solid $borderColor;
  // border-left: 1px solid $borderColor;

  &:not(:first-child) {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      height: 20px;
      margin: auto;
      background-color: $borderColor;
    }
  }
}
