.box {
  position: absolute;
  border-radius: 5px;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 1px;
  //   width: calc(100% - 2px);
  //   height: calc(100% - 1px);
  //   background-color: #ffe4bf;
  //   z-index: 0;
  // }
}

.boxInner {
  position: relative;
  z-index: 1;
}
