.container {
  position: relative;
  padding: 20px;
  height: 100%;
}

.containerInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.boxContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.columnContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.column {
  position: relative;
  width: 200px;
  height: 100%;
  background-color: #f6f6f6;
  border: solid 1px #e1e1e1;
}

.columnBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.columnBgBorder {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}
