.container {
  position: relative;
  // width: 100%;
}

.cols {
  display: flex;
  position: relative;
  width: 100%;
}

.colsHeader {
  position: absolute;
  // top: 0;
  left: -100px;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  z-index: 1;
}
