@import '@/features/BoxApplication/styles/variables';

$padX: 20px;
$padY: 20px;

.application {
  position: fixed;
  top: $padY;
  left: $padX;
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;

  &::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: $colRowHeaderWidth;
    height: 40px;
    background-color: #fff;
    border-bottom: 2px solid $borderColor;
    z-index: 2;
  }
}

.applicationInner {
  position: relative;
  padding-left: $colRowHeaderWidth;
  width: calc(100vw - $padX * 2);
  height: calc(100% - $padY * 2);
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
